@model TravelDetailsViewModel
@{
    ViewData["Title"] = "Travel Details";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <h1 class="text-center mb-4">@ViewData["Title"]</h1>
        <div class="col-md-6">
            <img src="@Model.ImageUrl" class="img-fluid rounded" alt="Destination Image">
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <p class="text-center">@Model.Description</p>
            <hr>
            <dl class="row m-0">
                <div class="d-flex">
                    <dt class="col-sm-4">Type: </dt>
                    <dd class="col-sm-8">@Model.Type</dd>
                </div>
                <div class="d-flex mt-2">
                    <dt class="col-sm-4">Destination: </dt>
                    <dd class="col-sm-8">
                        <a asp-controller="Destinations" asp-action="Details" asp-route-destinationId="">
                            @Model.Destination
                        </a>
                    </dd>
                </div>
                @if (Model.HotelName != null)
                {
                    <div class="d-flex mt-2">
                        <dt class="col-sm-4">Hotel: </dt>
                        <dd class="col-sm-8">@Model.HotelName</dd>
                    </div>
                }
                <div class="d-flex mt-2">
                    <dt class="col-sm-4">Price: </dt>
                    <dd class="col-sm-8">$@Model.Price</dd>
                </div>
                <div class="d-flex mt-2">
                    <dt class="col-sm-4">Date From: </dt>
                    <dd class="col-sm-8">@Model.DateFrom.ToString("d")</dd>
                </div>
                <div class="d-flex mt-2">
                    <dt class="col-sm-4">Date To: </dt>
                    <dd class="col-sm-8">@Model.DateTo.ToString("d")</dd>
                </div>
                <div class="d-flex mt-2">
                    <dt class="col-sm-4">Places Left: </dt>
                    <dd class="col-sm-8">@Model.PlacesLeft</dd>
                </div>
                <div class="d-flex mt-2">
                    <dt class="col-sm-4">Meeting Location: </dt>
                    <dd class="col-sm-8">@Model.MeetingLocation</dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <hr />
            <div class="text-center d-flex justify-content-center align-items-center">
                @if (User.IsInRole("Organizer"))
                {
                    <a asp-controller="Travels" asp-action="Edit" asp-route-travelId="@Model.Id" class="btn btn-info me-1">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a onclick="fireSweetAlert(@Model.Id)" class="btn red-background">
                        <i class="fas fa-trash"></i>
                    </a>
                }
                else
                {
                    if (!Model.IsBooked)
                    {
                        <form asp-controller="Bookings" asp-action="CreateBooking" asp-route-travelId="@Model.Id" method="post">
                            <button type="submit" class="btn green-background">
                                Book Now
                            </button>
                        </form>
                    }
                    else
                    {
                        <h5 class="text-success mb-0 me-3">You've booked this travel!</h5>

                        <form asp-controller="Bookings" asp-action="RemoveBooking" asp-route-travelId="@Model.Id" method="post">
                            <button type="submit" class="btn btn-danger">
                                Remove Booking
                            </button>
                        </form>
                    }
                }
            </div>
        </div>
    </div>
    @if (User.IsInRole("User"))
    {
        <div class="row justify-content-center">
            <div class="col-md-8">
                <hr class="mb-2" />
                <div class="text-center d-flex flex-column align-items-center">
                    <h4>Add Review</h4>
                    <form asp-controller="Travels" asp-action="AddReview" asp-route-travelId="@Model.Id" method="post" class="col-md-5 mt-3">
                        <input class="form-control" id="Comment" placeholder="Enter your comment" required />
                        <button type="submit" class="btn btn-primary mt-2">
                            Add Comment
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>