@model TravelFormModel
@{
    ViewData["Title"] = "Edit Travel";
}

<div class="container d-flex flex-column align-items-center mt-5">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>
    <form asp-controller="Travels" asp-action="Edit" asp-route-travelId="@ViewData["TravelId"]" method="post" class="col-md-8">
        <div>
            <label asp-for="Description" class="col-sm-9">
                <span class="h6 small text-muted">Description <span class="text-danger">*</span></span>
            </label>
            <textarea asp-for="Description" class="form-control" id="Description" placeholder="Enter a description" rows="4">
            </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <label asp-for="Type" class="col-sm-9">
                <span class="h6 small text-muted">Type <span class="text-danger">*</span></span>
            </label>
            <select asp-for="Type" class="form-control" id="Type">
                @foreach (var type in Enum.GetValues(typeof(eTravelType)))
                {
                    <option value="@type">@Regex.Replace(type.ToString()!, @"(?<!^)(?=[A-Z])", " ")</option>
                }
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <label asp-for="Price" class="col-sm-9">
                <span class="h6 small text-muted">Price <span class="text-danger">*</span></span>
            </label>
            <input asp-for="Price" type="number" class="form-control" id="Price" placeholder="Enter a price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <label asp-for="DateFrom" class="col-sm-9">
                <span class="h6 small text-muted">Date From <span class="text-danger">*</span></span>
            </label>
            <input asp-for="DateFrom" type="date" value="@Model.DateFrom.ToString("yyyy-MM-dd")" class="form-control" id="DateFrom" placeholder="Select a date">
            <span asp-validation-for="DateFrom" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <label asp-for="DateTo" class="col-sm-9">
                <span class="h6 small text-muted">Date To <span class="text-danger">*</span></span>
            </label>
            <input asp-for="DateTo" type="date" value="@Model.DateTo.ToString("yyyy-MM-dd")" class="form-control" id="DateTo" placeholder="Select a date">
            <span asp-validation-for="DateTo" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <label asp-for="MaxNumberOfPeople" class="col-sm-9">
                <span class="h6 small text-muted">Max Number Of People <span class="text-danger">*</span></span>
            </label>
            <input asp-for="MaxNumberOfPeople" type="number" class="form-control" id="MaxNumberOfPeople" placeholder="Enter the max number of people">
            <span asp-validation-for="MaxNumberOfPeople" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <label asp-for="DestinationId" class="col-sm-9">
                <span class="h6 small text-muted">Destination <span class="text-danger">*</span></span>
            </label>
            <select asp-for="DestinationId" class="form-control" id="DestinationId">
                @foreach (var destination in Model.Destinations)
                {
                    <option value="@destination.Id">@destination.Place, @destination.Country</option>
                }
            </select>
            <span asp-validation-for="DestinationId" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <label asp-for="HotelId" class="col-sm-9">
                <span class="h6 small text-muted">Hotel</span>
            </label>
            <select asp-for="HotelId" class="form-control" id="HotelId">
                @foreach (var hotel in Model.Hotels)
                {
                    <option value="@hotel.Id">
                        @hotel.Name, @Regex.Replace(hotel.FoodService.ToString()!, @"(?<!^)(?=[A-Z])", " "), @hotel.Rating stars
                    </option>
                }
                <option value="0">No Hotel</option>
            </select>
        </div>
        <div class="mt-2">
            <label asp-for="MeetingLocation" class="col-sm-9">
                <span class="h6 small text-muted">Meeting Location <span class="text-danger">*</span></span>
            </label>
            <input asp-for="MeetingLocation" type="text" class="form-control" id="MeetingLocation" placeholder="Enter a meeting location">
            <span asp-validation-for="MeetingLocation" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <span class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-center">
            <a asp-controller="Travels" asp-action="All" class="btn btn-secondary btn-block mt-4 me-2 col-md-3" style="font-size: 20px;">
                Cancel
            </a>
            <button type="submit" class="btn btn-primary btn-block mt-4 col-md-4" style="font-size: 20px;">
                Edit
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}