@model ICollection<BookingViewModel>
@{
    ViewData["Title"] = "All Bookings";

    if (TempData["ToastrMessage"] != null)
    {
        @Html.Raw(TempData["ToastrMessage"])
    }
}

<div class="container mt-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    @if (Model.Count == 0)
    {
        <p class="text-center text-primary display-6">Oops! There are no bookings yet.</p>
    }
    else
    {
        <div class="d-flex flex-column align-items-center">
            @foreach (var booking in Model)
            {
                <div class="col-md-10">
                    <div class="booking-box row align-items-center justify-content-between w-100">
                        <div class="col-md-5">
                            <div class="booking-image">
                                <img src="@booking.ImageUrl" alt="Booking Image" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-5 mt-2">
                            <h3 class="mb-3">@booking.Destination</h3>
                            <p><strong>Price:</strong> @booking.Price</p>
                            <p><strong>Owner:</strong> @booking.Owner</p>
                            <p><strong>Date From:</strong> @booking.DateFrom.ToString("d")</p>
                            <p><strong>Date To:</strong> @booking.DateTo.ToString("d")</p>
                            <p><strong>Date:</strong> @booking.BookDate</p>
                        </div>
                        <div class="col-md-2">
                            <form asp-controller="Bookings" asp-action="RemoveBooking" asp-route-travelId="@booking.TravelId" asp-route-userId="@booking.UserId" method="post" class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-danger">
                                    Remove Booking
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
            <div class="pagination">
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= Math.Ceiling((int)ViewData["NumberOfTravels"]! / 4.0); i++)
                    {
                        <li class="page-item @(i == (int)ViewData["CurrPageNumber"]! ? "active" : string.Empty)">
                            <a asp-controller="Bookings" asp-action="All" asp-route-page="@i" class="page-link">
                                @i
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>