@model HotelDetailsViewModel
@{
    ViewData["Title"] = "Hotel Details";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <h1 class="text-center mb-4">@ViewData["Title"]</h1>
        <div class="col-md-6">
            <img src="@Model.ImageUrl" class="img-fluid rounded" alt="Hotel Image">
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <h4 class="text-center">
                @for (int i = 0; i < Model.Rating; i++)
                {
                    <i class="fa fa-star" aria-hidden="true"></i>
                }
            </h4>
            <hr>
            <dl class="row m-0">
                <div class="d-flex">
                    <dt class="col-sm-4">Hotel Name: </dt>
                    <dd class="col-sm-8">@Model.Name</dd>
                </div>
            </dl>
            <dl class="row m-0">
                <div class="d-flex">
                    <dt class="col-sm-4">Destination: </dt>
                    <dd class="col-sm-8">
                        <a asp-controller="Destinations" asp-action="Details" asp-route-destinationId="@Model.DestinationId">
                            @Model.Destination
                        </a>
                    </dd>
                </div>
            </dl>
            <dl class="row m-0">
                <div class="d-flex">
                    <dt class="col-sm-4">Food Service: </dt>
                    <dd class="col-sm-8">@Model.FoodService</dd>
                </div>
            </dl>
            <dl class="row m-0">
                <div class="d-flex">
                    <dt class="col-sm-4">Has Pool: </dt>
                    <dd class="col-sm-8">@(Model.HasPool ? "Yes" : "No")</dd>
                </div>
            </dl>
            <dl class="row m-0">
                <div class="d-flex">
                    <dt class="col-sm-4">Has Spa: </dt>
                    <dd class="col-sm-8">@(Model.HasSpa ? "Yes" : "No")</dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <hr />
            <div class="text-center d-flex justify-content-center align-items-center">
                @if (User.IsInRole("Organizer"))
                {
                    <a asp-controller="Hotels" asp-action="Edit" asp-route-hotelId="@Model.Id" class="btn btn-info me-1">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a onclick="fireSweetAlert(@Model.Id, 'destination')" class="btn red-background">
                        <i class="fas fa-trash"></i>
                    </a>
                }
            </div>
        </div>
    </div>
    @if (User.IsInRole("User"))
    {
        await Html.RenderPartialAsync("_AddReviewPartial", new AddReviewViewModel()
                {
                    AuthorId = User.GetId(),
                    HotelId = Model.Id,
                    DateAdded = DateTime.UtcNow
                });
    }
    @if (Model.Reviews.Any())
    {
        <div class="row justify-content-center">
            <div class="col-md-8">
                <hr class="mb-2" />
                <div class="text-center d-flex flex-column align-items-center">
                    <h4 class="mb-3">Reviews</h4>
                    <div class="row col-md-12" id="reviewsContainer">
                        @foreach (var review in Model.Reviews)
                        {
                            <div class="col-md-12 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="col-md-2 text-center">
                                                <h6 class="m-0">@review.AuthorUsername: </h6>
                                                <p class="m-0 text-muted text-nowrap">@review.DateAdded.ToString("d")</p>
                                            </div>
                                            <div class="col-md-8">
                                                <p class="m-0">@review.Comment</p>
                                            </div>
                                            @if (User.IsInRole("Organizer") || review.AuthorId == User.GetId())
                                            {
                                                <form asp-controller="Reviews" asp-action="Delete" asp-route-reviewId="@review.Id" method="post" class="d-flex justify-content-center">
                                                    <button type="submit" class="btn red-background">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>